In [19]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [4]:
# Частина друга: Аналіз файлів -> Hw2.2.ipynb
# Проведіть аналіз файлу 2017_jun_final.csv. Файл містить результати опитування розробників у червні 2017 року.
# Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
p2t2 = pd.read_csv('2017_jun_final.csv')
print(p2t2)

         N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]

In [5]:
# Прочитайте отриману таблицю, використовуючи метод head
print(p2t2.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

In [6]:
# Визначте розмір таблиці за допомогою методу shape
print(p2t2.shape)

(8704, 25)

In [7]:
# Визначте типи всіх стовпців за допомогою dataframe.dtypes
print(p2t2.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [8]:
# Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
map_p2t2 = p2t2.isnull()  # alias .isna()
print(map_p2t2)
print(p2t3 := np.sum(map_p2t2, axis=0))

          N  Должность  Язык.программирования  Специализация  \
0     False      False                   True          False
1     False      False                   True          False
2     False      False                  False           True
3     False      False                  False           True
4     False      False                  False           True
...     ...        ...                    ...            ...
8699  False      False                   True          False
8700  False      False                   True           True
8701  False      False                  False           True
8702  False      False                   True           True
8703  False      False                  False           True

      Общий.опыт.работы  Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                 False                         False             False
1                 False                         False             False
2                 False                         False             False
3                 False                         False             False
4                 False                         False             False
...                 ...                           ...               ...
8699              False                         False             False
8700              False                         False             False
8701              False                         False             False
8702              False                         False             False
8703              False                         False             False

      Изменение.зарплаты.за.12.месяцев  Город  Размер.компании  ...  \
0                                False  False            False  ...
1                                False  False            False  ...
2                                False  False            False  ...
3                                False  False            False  ...
4                                False  False            False  ...
...                                ...    ...              ...  ...
8699                             False  False            False  ...
8700                             False  False            False  ...
8701                             False  False            False  ...
8702                             False  False            False  ...
8703                             False  False            False  ...

      Еще.студент  Уровень.английского  Предметная.область  Дата.заполнения  \
0           False                False               False            False
1           False                False               False            False
2           False                False               False            False
3           False                False               False            False
4           False                False               False            False
...           ...                  ...                 ...              ...
8699        False                False               False            False
8700        False                False               False            False
8701        False                False               False            False
8702        False                False               False            False
8703        False                False               False            False

      User.Agent    exp  current_job_exp  salary  Валюта    cls
0          False  False            False   False    True  False
1          False  False            False   False    True  False
2          False  False            False   False    True  False
3          False  False            False   False    True  False
4          False  False            False   False    True  False
...          ...    ...              ...     ...     ...    ...
8699       False  False            False   False    True  False
8700       False  False            False   False    True   True
8701       False  False            False   False    True  False
8702       False  False            False   False    True  False
8703       False  False            False   False    True  False

[8704 rows x 25 columns]
N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [9]:
# Видаліть усі стовпці з пропусками, крім стовпця 'Мова програмування'
print(new_p2t3 := p2t2.drop([idx for idx in p2t3.index if p2t3[idx]
      > 0 and idx != 'Язык.программирования'], axis=1, inplace=False))

         N                 Должность Язык.программирования Общий.опыт.работы  \
0        1        Junior QA engineer                   NaN               0.5
1        2        Junior QA engineer                   NaN  меньше 3 месяцев
2        3         Software Engineer               C#/.NET                 4
3        4         Software Engineer            JavaScript                 5
4        5  Senior Software Engineer            JavaScript    10 и более лет
...    ...                       ...                   ...               ...
8699  8700               QA engineer                   NaN                 1
8700  8701                 Marketing                   NaN               0.5
8701  8702  Junior Software Engineer            Ruby/Rails                 1
8702  8703                 Team lead                   NaN                 6
8703  8704  Senior Software Engineer                  Java                 7

     Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                             0.5               400
1                меньше 3 месяцев               430
2                               1              2500
3                               4              2000
4                             0.5              4500
...                           ...               ...
8699             меньше 3 месяцев               700
8700                          0.5               400
8701                          0.5               800
8702                            4              2600
8703                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  \
0                                    0  Харьков       до 10 человек
1                                  130  Харьков  свыше 1000 человек
2                                  800     Киев     до 1000 человек
3                                  400   Одесса      до 200 человек
4                                  500   Другой       до 10 человек
...                                ...      ...                 ...
8699                               700   Одесса       до 50 человек
8700                               120     Киев       до 50 человек
8701                               500    Львов       до 10 человек
8702                                 0    Днепр  свыше 1000 человек
8703                               800   Одесса     до 1000 человек

         Тип.компании      Пол  Возраст           Образование  Еще.студент  \
0      Аутсорсинговая  женский       20  Незаконченное высшее         True
1      Аутсорсинговая  женский       21  Незаконченное высшее         True
2      Аутсорсинговая  мужской       26                Высшее        False
3         Продуктовая  мужской       30               Среднее        False
4         Продуктовая  мужской       30    Техникум / Колледж        False
...               ...      ...      ...                   ...          ...
8699   Аутсорсинговая  мужской       23                Высшее        False
8700      Продуктовая  женский       22                Высшее        False
8701  Аутстаффинговая  мужской       30  Незаконченное высшее        False
8702   Аутсорсинговая  мужской       34                Высшее        False
8703      Продуктовая  мужской       28                Высшее        False

     Уровень.английского      Дата.заполнения  \
0          ниже среднего  12/06/2017 12:38:08
1          выше среднего  12/06/2017 12:42:51
2                средний  12/06/2017 13:02:47
3          ниже среднего  12/06/2017 13:03:01
4                средний  12/06/2017 13:03:47
...                  ...                  ...
8699             средний  12/07/2017 15:45:24
8700       ниже среднего  12/07/2017 17:00:06
8701       выше среднего  12/07/2017 17:32:26
8702         продвинутый  12/07/2017 18:14:59
8703       выше среднего  12/07/2017 21:28:57

                                             User.Agent   exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0
...                                                 ...   ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0

      current_job_exp  salary
0                 0.5     400
1                 0.0     430
2                 1.0    2500
3                 4.0    2000
4                 0.5    4500
...               ...     ...
8699              0.0     700
8700              0.5     400
8701              0.5     800
8702              4.0    2600
8703              2.0    5000

[8704 rows x 20 columns]

In [10]:
# Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець 'Мова.програмування'
map_p2t3 = new_p2t3.isnull()  # alias .isna()
print(map_p2t3)
print(p2t4 := np.sum(map_p2t3, axis=0))

          N  Должность  Язык.программирования  Общий.опыт.работы  \
0     False      False                   True              False
1     False      False                   True              False
2     False      False                  False              False
3     False      False                  False              False
4     False      False                  False              False
...     ...        ...                    ...                ...
8699  False      False                   True              False
8700  False      False                   True              False
8701  False      False                  False              False
8702  False      False                   True              False
8703  False      False                  False              False

      Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                            False             False
1                            False             False
2                            False             False
3                            False             False
4                            False             False
...                            ...               ...
8699                         False             False
8700                         False             False
8701                         False             False
8702                         False             False
8703                         False             False

      Изменение.зарплаты.за.12.месяцев  Город  Размер.компании  Тип.компании  \
0                                False  False            False         False
1                                False  False            False         False
2                                False  False            False         False
3                                False  False            False         False
4                                False  False            False         False
...                                ...    ...              ...           ...
8699                             False  False            False         False
8700                             False  False            False         False
8701                             False  False            False         False
8702                             False  False            False         False
8703                             False  False            False         False

        Пол  Возраст  Образование  Еще.студент  Уровень.английского  \
0     False    False        False        False                False
1     False    False        False        False                False
2     False    False        False        False                False
3     False    False        False        False                False
4     False    False        False        False                False
...     ...      ...          ...          ...                  ...
8699  False    False        False        False                False
8700  False    False        False        False                False
8701  False    False        False        False                False
8702  False    False        False        False                False
8703  False    False        False        False                False

      Дата.заполнения  User.Agent    exp  current_job_exp  salary
0               False       False  False            False   False
1               False       False  False            False   False
2               False       False  False            False   False
3               False       False  False            False   False
4               False       False  False            False   False
...               ...         ...    ...              ...     ...
8699            False       False  False            False   False
8700            False       False  False            False   False
8701            False       False  False            False   False
8702            False       False  False            False   False
8703            False       False  False            False   False

[8704 rows x 20 columns]
N                                      0
Должность                              0
Язык.программирования               3850
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

In [11]:
# Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
# лише що не мають всіх значень?:
p2t2 = p2t2.dropna(how='all')
print(p2t2)
# чи Взагалі всі?
p2t2 = p2t2.dropna()  # how='any' by default
print(p2t2)

         N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]
Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

In [12]:
# Визначте новий розмір таблиці за допомогою методу shape
print(p2t2.shape)

(0, 25)

In [13]:
# Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_data = pd.read_csv('2017_jun_final.csv')
python_data.drop([idx for idx in python_data.index if python_data.iloc[idx]
                 ['Язык.программирования'] is np.nan], axis=0, inplace=True)
print(python_data)

         N                 Должность Язык.программирования Специализация  \
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
6        7  Junior Software Engineer               C#/.NET           NaN
7        8  Senior Software Engineer                   C++           NaN
...    ...                       ...                   ...           ...
8692  8693         Software Engineer                  Java           NaN
8694  8695  Junior Software Engineer               C#/.NET           NaN
8695  8696         Software Engineer                Python           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
6                    1             меньше 3 месяцев               600
7                    6                            1              3300
...                ...                          ...               ...
8692                 5                            1              3500
8694                 1                            1               550
8695                 1                          0.5              1500
8701                 1                          0.5               800
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  ...  \
2                                  800         Киев  до 1000 человек  ...
3                                  400       Одесса   до 200 человек  ...
4                                  500       Другой    до 10 человек  ...
6                                  100  Хмельницкий    до 50 человек  ...
7                                  500         Киев    до 10 человек  ...
...                                ...          ...              ...  ...
8692                               650     Удаленно   до 200 человек  ...
8694                               550      Харьков   до 200 человек  ...
8695                              1000         Киев    до 10 человек  ...
8701                               500        Львов    до 10 человек  ...
8703                               800       Одесса  до 1000 человек  ...

     Еще.студент Уровень.английского  \
2          False             средний
3          False       ниже среднего
4          False             средний
6          False       ниже среднего
7          False       выше среднего
...          ...                 ...
8692       False             средний
8694       False       ниже среднего
8695       False             средний
8701       False       выше среднего
8703       False       выше среднего

                                   Предметная.область      Дата.заполнения  \
2                Веб-разработка,Корпоративные системы  12/06/2017 13:02:47
3                 Desktop Applications,Веб-разработка  12/06/2017 13:03:01
4                 Desktop Applications,Веб-разработка  12/06/2017 13:03:47
6                                      Веб-разработка  12/06/2017 13:04:26
7                                              Другое  12/06/2017 13:04:27
...                                               ...                  ...
8692                                        eCommerce  12/07/2017 13:26:49
8694  Desktop Applications,Системное программирование  12/07/2017 14:14:33
8695                        Финансы и банки,eCommerce  12/07/2017 14:39:21
8701             Веб-разработка,Корпоративные системы  12/07/2017 17:32:26
8703                                   Веб-разработка  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0             0.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0             1.0
...                                                 ...   ...             ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0             1.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0             1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary Валюта  cls
2      2500    NaN  DEV
3      2000    NaN  DEV
4      4500    NaN  DEV
6       600    NaN  DEV
7      3300    NaN  DEV
...     ...    ...  ...
8692   3500    NaN  DEV
8694    550    NaN  DEV
8695   1500    NaN  DEV
8701    800    NaN  DEV
8703   5000    NaN  DEV

[4854 rows x 25 columns]

In [14]:
# Визначте розмір таблиці python_data за допомогою методу shape
print(python_data.shape)

(4854, 25)

In [16]:
# Використовуючи метод groupby, виконайте групування за стовпчиком 'Посада'
print(python_data_gby := python_data.groupby(['Должность']))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fbfa12ccfd0>

In [17]:
# Створіть новий DataFrame, де для згрупованих даних за стовпчиком 'Посада', виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику 'Зарплата.в.місяць'
print(python_data_gby.agg({'salary': ['min', 'max']}))

                              salary
                                 min    max
Должность
Data Scientist / Data Analyst   2700   2700
DevOps                          7000   7000
ERP / CRM                       2000   2000
HTML coder                       385    600
Junior Software Engineer          75   2600
Product Manager                 3000   3000
Senior Software Engineer         350   9200
Software Engineer                100   7000
System Architect                 400  10000
Team lead                       2500   4000
Technical Lead                   500  18000

In [21]:
# Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик 'avg'
# Чи таки не просто середнє за місяць, а середнє за посадою? чи середнє за мовою?
def fill_avg_salary(df: Series) -> float | None:
    return df.describe().loc['mean']


python_data['avg'] = np.ones(python_data.shape[0]) * pd.DataFrame(
    python_data['salary']).apply(fill_avg_salary, axis=0).loc['salary']
print(python_data)

         N                 Должность Язык.программирования Специализация  \
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
6        7  Junior Software Engineer               C#/.NET           NaN
7        8  Senior Software Engineer                   C++           NaN
...    ...                       ...                   ...           ...
8692  8693         Software Engineer                  Java           NaN
8694  8695  Junior Software Engineer               C#/.NET           NaN
8695  8696         Software Engineer                Python           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
6                    1             меньше 3 месяцев               600
7                    6                            1              3300
...                ...                          ...               ...
8692                 5                            1              3500
8694                 1                            1               550
8695                 1                          0.5              1500
8701                 1                          0.5               800
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев        Город  Размер.компании  ...  \
2                                  800         Киев  до 1000 человек  ...
3                                  400       Одесса   до 200 человек  ...
4                                  500       Другой    до 10 человек  ...
6                                  100  Хмельницкий    до 50 человек  ...
7                                  500         Киев    до 10 человек  ...
...                                ...          ...              ...  ...
8692                               650     Удаленно   до 200 человек  ...
8694                               550      Харьков   до 200 человек  ...
8695                              1000         Киев    до 10 человек  ...
8701                               500        Львов    до 10 человек  ...
8703                               800       Одесса  до 1000 человек  ...

     Уровень.английского                               Предметная.область  \
2                средний             Веб-разработка,Корпоративные системы
3          ниже среднего              Desktop Applications,Веб-разработка
4                средний              Desktop Applications,Веб-разработка
6          ниже среднего                                   Веб-разработка
7          выше среднего                                           Другое
...                  ...                                              ...
8692             средний                                        eCommerce
8694       ниже среднего  Desktop Applications,Системное программирование
8695             средний                        Финансы и банки,eCommerce
8701       выше среднего             Веб-разработка,Корпоративные системы
8703       выше среднего                                   Веб-разработка

          Дата.заполнения                                         User.Agent  \
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
6     12/06/2017 13:04:26  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
7     12/06/2017 13:04:27  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....
...                   ...                                                ...
8692  12/07/2017 13:26:49  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
8694  12/07/2017 14:14:33  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...
8695  12/07/2017 14:39:21  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp  current_job_exp salary Валюта  cls          avg
2      4.0              1.0   2500    NaN  DEV  1883.371034
3      5.0              4.0   2000    NaN  DEV  1883.371034
4     10.0              0.5   4500    NaN  DEV  1883.371034
6      1.0              0.0    600    NaN  DEV  1883.371034
7      6.0              1.0   3300    NaN  DEV  1883.371034
...    ...              ...    ...    ...  ...          ...
8692   5.0              1.0   3500    NaN  DEV  1883.371034
8694   1.0              1.0    550    NaN  DEV  1883.371034
8695   1.0              0.5   1500    NaN  DEV  1883.371034
8701   1.0              0.5    800    NaN  DEV  1883.371034
8703   7.0              2.0   5000    NaN  DEV  1883.371034

[4854 rows x 26 columns]

In [22]:
def fill_avg_salary_by_position(df: DataFrame, el: str) -> float | None:
    df_c = df[df.loc[el]['Должность'] == df['Должность']]
    return df_c['salary'].agg(salary='mean')['salary']


python_data['avg_by_Должность'] = [fill_avg_salary_by_position(
    python_data, el) for el in python_data.index]
print(python_data['avg_by_Должность'])

2       1678.630074
3       1678.630074
4       3243.200926
6        605.658594
7       3243.200926
           ...
8692    1678.630074
8694     605.658594
8695    1678.630074
8701     605.658594
8703    3243.200926
Name: avg_by_Должность, Length: 4854, dtype: float64

In [23]:
# Створіть описову статистику за допомогою методу describe для нового стовпчика.
print(python_data.describe())

                 N  Зарплата.в.месяц  Изменение.зарплаты.за.12.месяцев  \
count  4854.000000       4854.000000                       4854.000000
mean   4256.905027       1883.371034                        382.231356
std    2520.430052       1337.044257                        459.032660
min       3.000000         75.000000                      -2000.000000
25%    2013.500000        800.000000                          0.000000
50%    4219.500000       1600.000000                        300.000000
75%    6450.500000       2700.000000                        518.500000
max    8704.000000      18000.000000                       8000.000000

           Возраст          exp  current_job_exp        salary           avg  \
count  4854.000000  4854.000000      4854.000000   4854.000000  4.854000e+03
mean     27.178616     3.846312         1.619026   1883.371034  1.883371e+03
std       5.157605     3.012029         1.860837   1337.044257  3.911230e-11
min      16.000000     0.000000         0.000000     75.000000  1.883371e+03
25%      23.000000     1.500000         0.500000    800.000000  1.883371e+03
50%      26.000000     3.000000         1.000000   1600.000000  1.883371e+03
75%      30.000000     5.000000         2.000000   2700.000000  1.883371e+03
max      56.000000    10.000000        10.000000  18000.000000  1.883371e+03

       avg_by_Должность
count       4854.000000
mean        1883.371034
std         1056.802546
min          457.000000
25%          605.658594
50%         1678.630074
75%         3243.200926
max         7000.000000

In [24]:
# Збережіть отриману таблицю в CSV файл
python_data.to_csv("data_p2.csv", index=False)