In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('bikes_rent.csv')
df.head(5)

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed(mph),windspeed(ms),cnt
0,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,4.805490,985
1,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,7.443949,801
2,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,7.437060,1349
3,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,4.800998,1562
4,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,5.597810,1600

In [4]:
df['yr']  # Series
df[['yr']]  # DataFrame
df.loc[0]  # Series
df.iloc[1]  # Series
df.iloc[:, 1:4]  # DataFrame
df.iloc[0:5, 5:8]  # DataFrame
df.iloc[0:5]['yr']  # Series
df.iloc[:, [0, 1, 3]]  # DataFrame
df[0:3]  # DataFrame
df[df.index % 2 == 0]  # DataFrame
df[df['yr'] == 1]  # DataFrame
df[['yr', 'temp']]  # DataFrame
df[df.columns[:-1]]  # DataFrame
df.iloc[:, 1]  # Series
df.describe()
df[df.columns[:-1]]

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed(mph),windspeed(ms)
0,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,4.805490
1,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,7.443949
2,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,7.437060
3,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,4.800998
4,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,5.597810
...,...,...,...,...,...,...,...,...,...,...,...,...
726,1,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,10.486773
727,1,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,4.656485
728,1,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,3.725374
729,1,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,10.505372
730,1,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,4.637766

In [ ]:
import seaborn as sns

sns.set_style('darkgrid')
sns.pairplot(
             df,
             vars=list(df.columns),
             hue='basement'
             )
plt.show()

In [ ]:
def draw_graphs(df: pd.DataFrame, idx_x: int = -1, type: str = 'go') -> None:
    for idx_y in range(df.shape[1]):
        if df.columns[idx_y] == df.columns[idx_x]:
            continue

        fig = plt.figure(figsize=(5, 5))
        plt.plot(df.iloc[:, idx_x], df.iloc[:, idx_y], type, label=f'{df.columns[idx_y]}({df.columns[idx_x]})')
        plt.xlabel(df.columns[idx_x], fontsize='small', color='midnightblue')
        plt.ylabel(df.columns[idx_y], fontsize='small', color='midnightblue')
        plt.title('bikes_rent.csv', fontsize=14)
        plt.legend()
        plt.show()

In [ ]:
fig, axs = plt.subplots(1, 3, figsize=(12, 5))
axs[0].plot(df.iloc[:, -1], df.iloc[:, 0], color='green', marker='+', linestyle='', linewidth=2, markersize=12, label=f'{df.columns[0]}({df.columns[-1]})')
axs[1].scatter(df.iloc[:, -1], df.iloc[:, 0], color='g', marker='+', linestyle='', linewidth=2, s=120)
axs[2].barh(df.iloc[:, -1], df.iloc[:, 0], color='r', label='night temperature')

axs[0].set_xlabel(df.columns[-1], fontsize='small', color='midnightblue')

axs[0].set_title('Денна', fontsize=10)
axs[1].set_title('Нічна', fontsize=10)
axs[2].set_title('Нічна', fontsize=10)

fig.suptitle('Температура в м. Полтава', fontsize=15)

plt.show()

In [19]:
# Data for matrix
data = {'A': [45,37,42,35,39],
        'B': [38,31,26,28,33],
        'C': [10,15,17,21,12]
        }

df = pd.DataFrame(data,columns=['A','B','C'])
print("Original dataframe")
print(df) # original df
print("\n")

corrMatrix = df.corrwith(df["B"]) # finding correlations
print("Between column B and the rest of the dataframe")
print("Correlation Coefficients Matrix")
print(corrMatrix) # printing correlations
print('\n')

corrMatrix = df.corrwith(df["C"]) # finding correlations
print("Between column C and the rest of the dataframe")
print("Correlation Coefficients Matrix")
print(corrMatrix) # printing correlations
print('\n')

corrMatrix = df.corrwith(df["C"]) # finding correlations
print("Between column C and the rest of the dataframe")
print("Correlation Coefficients Matrix")
print(corrMatrix) # printing correlations

Original dataframe
    A   B   C
0  45  38  10
1  37  31  15
2  42  26  17
3  35  28  21
4  39  33  12


Between column B and the rest of the dataframe
Correlation Coefficients Matrix
A    0.518457
B    1.000000
C   -0.860941
dtype: float64


Between column C and the rest of the dataframe
Correlation Coefficients Matrix
A   -0.701886
B   -0.860941
C    1.000000
dtype: float64


Between column C and the rest of the dataframe
Correlation Coefficients Matrix
A   -0.701886
B   -0.860941
C    1.000000
dtype: float64

In [21]:
index = ["a", "b", "c", "d", "e"]

columns = ["one", "two", "three", "four"]

df1 = pd.DataFrame(np.arange(20).reshape(5, 4), index=index, columns=columns)

# df2 = pd.DataFrame(np.arange(5).reshape(1, 5), index=index, columns=columns[3])

df1.corrwith(df1['four'])

one      1.0
two      1.0
three    1.0
four     1.0
dtype: float64

In [5]:
df1

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

- https://www.statology.org/pandas-corrwith/